
#main_menu {
    position: sticky;
    background-image: url("https://live.staticflickr.com/8465/8443271796_2034d3e5ce_b.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    text-align: center;
}

.title{
    font-size: 100px;
    color: rgb(216, 202, 81);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.story {
    color: white;
    width: 70%;
    border-radius: 20px;
    border: solid 2px white;
    margin: 0 auto;
    background: rgba(9, 72, 93, 0.5);
    padding: 10px;
    text-align: center;
    margin-top: 250px;
    z-index: -1;
}

.textBox {
    color: white;
    width: 50%;
    border-radius: 20px;
    border: solid 2px white;
    margin: 0 auto;
    background: rgba(9, 72, 93, 0.5);
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    z-index: -1;
}

.settingsBtn {
    border-radius: 10px;
    background-color: rgb(191, 207, 212);
    margin-left: 10px;
    height: 40px;
    width: 40px;
}

.settings {
    z-index: 100;
    width: 150px;

    background: rgba(202, 209, 107, 0.5);
    margin-left: 10px;
    margin-bottom: 20px;
}

#insideSettings {
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 15px;
}

.overall {
    position: fixed;
    height: 720px;
    width: 1280px;
    background: #eee;
    border: 1px solid #ccc;
}

/* #main_menu_bg {
    position: static,
} */

#game_window {
    position: relative;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#mainMenuBtn1,#mainMenuBtn2{
    border-radius: 40px;
    margin: 0 auto;
    width: 300px;
    height: 100px;  
    font-size: 40px;
}

#mainMenuBtn1{
    margin-top: 70px;
}

#mainMenuBtn2{

    margin-top: 100px;
   
}